[submodule "dotfiles/vim/bundle/ctrlp.vim"]
	path = dotfiles/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "dwm/dmenu"]
	path = dwm/dmenu
	url = https://git.suckless.org/dmenu
[submodule "dwm/dwm"]
	path = dwm/dwm
	url = https://git.suckless.org/dwm
